body{
	background-color: #0A0A0A;	
	text-align:center;
}

#quote_box{
	width:80%;	
	padding:20px;
	background-color: #363636;
	margin:30px auto;
}

#content , #author{
	color: #ffffff;
	font-size: 1.5em;
	font-style:italic;

}

.btn{
	background-color: #65727F;
	margin-top:20px;
	margin-right: 10px;
	height: 30px;
	color:#ffffff;
}